.Appoint {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    margin-left: 4.5rem;
    margin-top: 1.2rem;
    margin-right: 1.2rem;
    width: calc(100% - 5rem);
  }
  
  .Sidenav-open {
    margin-left: 15.5rem;
    width: calc(100% - 16rem);
  }
  
  @media (max-width: 768px) {
    .Sidenav-open {
      margin-left: 4.5rem;
      
    }
    
  }
  @media (max-width: 767px){
    .Appoint-header-right{
      text-align:left !important;
    }
  }
  
  .Appoint-header {
    padding: 5px 10px;
    display: flex;
    background-color: #f3f3f8;
    margin: 0px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .Appoint-header-right {
    text-align: end;
  }
  
  .Appoint-header-right span {
    /* float: right; */
    line-height: 40px;
    margin-right: 15px;
    font-size: 30px; 
  }
  
  .Appoint-header-left span:first-child {
    margin: 0px;
    font-weight: 500;
    line-height: 40px;
    border-right: 2px solid black;
    padding-right: 15px;
  }
  
  .Appoint-header-left span:nth-child(2) {
    padding: 5px;
    
  }
  
  .Appoint-filter {
    margin: 0px !important;
    position: relative;
  }
  
  .Appoint-filter .procedure-add-icon {
    color: #05c1dd;
    position: absolute;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    left: -16px;
    top: -14px;
  }
  
  .filter-button {
    background: none;
    border: 2px dotted #e9e9e9;
    border-radius: 20px;
    padding: 5px 10px;
    color: darkgrey;
    margin: 8px 15px;
  }
  .add-filter{
    position: relative;
    top: -6px;

  }
  
  .filter-button span {
    padding-right: 5px;
  }
  
  .Appoint-table {
    margin: 0px !important;
  }
 .showColumndropdown .MuiMenu-paper{
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); 
 }
  .ShowColumn{
    padding: .2rem 1.5rem;
    cursor: pointer;
  }
  .ShowColumn:focus{
    outline:none !important;
  }
  .closeShowcolumn{
    position: relative;
    top: 7px;
    right: -17px;
    font-size: 25px;
  }
  .Appoint-header-right span{
    cursor: pointer;
  }
  .Appoint-header-right span:hover{
    color:#05beda
  }
  /*delete popup*/
  .deletedropdown{
    width: 21% !important;
    position: absolute;
    right: 45px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 45px;
    background: #fff;
    border-radius: 5px;
    z-index: 9;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
     0px 1px 1px 0px rgba(0,0,0,0.14), 
    0px 1px 3px 0px rgba(0,0,0,0.12);
  }

  .deletedropdown h4{
    margin: 0px;
    text-align: start;
    padding: 15px 15px;
    font-weight: 400;
    font-size: 16px;
  }

  .deletedropdown span.closeicon{
    position: absolute;
    right: -1px;
    top: 6px;

  }

  .deletedropdown .resonForDelete{
    width: 90%;
    padding: 7px 16px 15px 0px;
  }
  .deletedropdown .deleteSave{
    margin: 10px;
    height: 29px;  
  }
  .deletedropdown .deleteSave span{
    margin: 0px;
    font-size: 16px;
    padding: 0px 17px;
  }