.Jikan_FooterContent{
    border-top: #e9ecef solid 1px;
}
.Jikan_Footer{
    z-index: 9;
    height: 30px;
    font-size: .7rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fafbfc;
}
.Jikan_FooterContentRight{
    margin-left: auto;
    display: flex;
    float: right;
    margin-top: .4rem; 
    padding-right: 1rem;
}